$header-padding: 			20px 0;
$header-mb: 				30px;

$header-title-mb:			30px;
$header-title-shadow:		0 1px 0 rgba(0, 0, 0, 0.2);
$header-title-pb:			20px;

$sub-title-fz: 				22px;
$sub-title-ff: 				$font-family-serif;
$sub-title-fw: 				400;
$sub-title-padding: 		7px 30px;
$sub-title-bg: 				rgba(0,0,0,0.26);
$sub-title-radius: 			30px;

$heading-title-ff:			$font-family-sans-serif;
$heading-padding:			10px 30px 10px 0;
$heading-shadow: 			0 1px 0 rgba(0, 0, 0, 0.2);


.header {
	padding: $header-padding;
	margin-bottom: $header-mb;
	overflow: hidden;
	&-title {
		text-shadow: $header-title-shadow;
		margin-bottom: $header-title-mb;
		margin: 0;
		padding-bottom: $header-title-pb;
		> h1 {
			position: relative;
			display: inline-block;
			padding: 0 20px;
			&:before,
			&:after {
				content: '';
  				position: absolute;
  				top: 50%;
  				transform: translateY(-50%);
  				width: 999px;
  				height: 11px;
  				border: solid rgba(255, 255, 255, 0.4);
  				border-width: 4px 0;
			}
			&:before {
				right: 100%;
			}
			&:after {
				left: 100%;
			}
		}
		&-main {
			> h1 {
				&:before,
				&:after {
					display: none;
				}
			}
		}
	}
	&-sub-title {
		font-size: $sub-title-fz;
		font-family: $sub-title-ff;
		padding: $sub-title-padding;
		background: $sub-title-bg;
		border-radius: $sub-title-radius;
		font-weight: $sub-title-fw;
	}
}

.heading {
	overflow: hidden;
	&-title {
		font-family: $heading-title-ff;
		position: relative;
		padding: $heading-padding;
		display: inline-block;
		text-shadow: $heading-shadow;
		&:after {
			content: '';
			width: 9999px;
			height: 1px;
			background-color: rgba(255, 255, 255, 0.2);
			position: absolute;
			top: 50%;
			left: 100%;
		}
	}
}