.header {
	padding: 20px 0;
	margin-bottom: 30px;
	&-title {
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
		margin-bottom: 30px;
		margin: 0;
		padding-bottom: 20px;
	}
	&-sub-title {
		font-size: 22px;
		font-family: $font-family-serif;
		padding: 7px 30px;
		background: rgba(0,0,0,0.26);
		border-radius: 30px;
		font-weight: 400;
	}
}