$navbar-width: 960px;
$navbar-margin: 0 auto;
$navbar-text-transform: uppercase;
$navbar-fw: 700;
$navbar-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
$navbar-container: 960px;


.navbar {
	width: $navbar-width;
	margin: $navbar-margin;
	text-transform: $navbar-text-transform;
	font-weight: $navbar-fw;
	box-shadow: $navbar-shadow;
	> .container {
		width: $navbar-container;
	}
}