.portfolio-list {
    padding: 0;
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: 700;
    list-style: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    &-item {
        display: inline;
        padding: 10px 20px;
        border: 3px solid transparent;
        vertical-align: middle;
        &:hover,
        &.active {
            border-top: 3px solid rgba(255, 255, 255, 0.4);
            border-bottom: 3px solid rgba(255, 255, 255, 0.4);
        }
    }
}
