.post {
	display: flex;
	overflow: hidden;
	// flex-wrap: wrap;
	&-image {
		margin-right: 40px;
	}
	&-description {
		width: 100%;
		a {
			font-weight: 700;
			text-decoration: underline;
		}
	}
}

.sidebar {
	h3 {
		font-size: 22px;
	}
	a {
		text-decoration: underline;
	}
	&-category {
		ul {
			padding-left: 20px;
		}
	}
}