.social {
    padding-top: 30px;
    &-link {
        width: 30px;
        height: 30px;
        background-color: rgba(0,0,0,0.26);
        border-radius: 50%;
        display: inline-flex;
        margin-right: 10px;
        span {
            margin: auto;
        }
    }
}
